# Your Wi-Fi SSID and password
esphome_wifi_ssid: "your_wifi_ssid"
esphome_wifi_password: "*********"
esphome_ap_password: "*********"
esphome_ota_password: "*********"

esphome_api_key: "*********"

# Your Wi-Fi SSID and password
wifi_ssid: "your_wifi_ssid"
wifi_password: "*********"
