# ============================================================
# Rotary Encoder - Button and Encoder Sensor
# ============================================================
# Requires substitutions:
#   - friendly_name
#   - rotary_pin_a
#   - rotary_pin_b
#   - rotary_btn_pin
# ============================================================

binary_sensor:
  - platform: gpio
    id: rotary_btn
    name: "${friendly_name} Rotary button"
    pin: ${rotary_btn_pin}
    filters:
      invert: # idle state must be 'off' to support click actions
    on_click:
      - logger.log: "Rotary Single Click"
    on_double_click:
      - logger.log: "Rotary Double Click"

sensor:
  - platform: rotary_encoder
    id: rotary_dial
    name: "${friendly_name} Rotary Encoder"
    pin_a: ${rotary_pin_a}
    pin_b: ${rotary_pin_b}
    on_clockwise:
      - logger.log: "Rotary Turned Clockwise"
    on_anticlockwise:
      - logger.log: "Rotary Turned Anticlockwise"
