# ============================================================
# TAS5805M/TAS5825M DAC - I2C Control, EQ, and Fault Monitoring
# ============================================================
# Requires substitutions:
#   - tas58xx_enable_pin
#   - i2c_sda_pin
#   - i2c_scl_pin
#
# ============================================================

external_components:
  - source: github://mrtoy-me/esphome-tas58xx@dev
    components: [tas58xx]
    refresh: 48h

i2c:
  sda: ${i2c_sda_pin}
  scl: ${i2c_scl_pin}
  frequency: 400kHz
  scan: true

### TAS5805M/TAS5825M DAC configuration
audio_dac:
  - platform: tas58xx
    id: tas58xx_dac
    tas58xx_dac: ${tas58xx_variant}     # 'TAS5805M' or 'TAS5825M'
    enable_pin: ${tas58xx_enable_pin}   # Physical pin connected to PWDN pin
    dac_mode: BTL                       # 'BTL' / Bridge Tied Load - 2Ch Stereo, or 'PBTL' / Parallel Bridge Tied Load - 1Ch Mono (double power)
    mixer_mode: STEREO                  # STEREO, STEREO_INVERSE, MONO, LEFT, RIGHT
    analog_gain: 0db                    # Startup Gain or Output voltage swing - pick based on the power supply voltage: https://github.com/sonocotta/esp32-tas5805m-dac?tab=readme-ov-file#digital-volume-and-analog-gain
    volume_max: 0dB                     # Max HA volume mapping to Digital Volume control, goes as high as +24dB, but not recommend going much above 0 dB, risking to cause clipping on high volume
    volume_min: -60db                   # Min HA volume mapping to Digital Volume control, goes as low as -103dB, but prefer to set higher to have a reasonable volume range
    update_interval: 5s                 # How often fault registers are read and cleared

switch:
  - platform: tas58xx
    enable_dac:
      name: Enable DAC
      id: enable_dac
      restore_mode: ALWAYS_ON 


select:
  - platform: tas58xx
    mixer_mode:
      name: _Mixer Mode
    eq_mode:
      name: EQ Mode
      
number:
  - platform: tas58xx
    # must have both channel_gains configured or none
    channel_volume_left:
      name: Gain Left Channel
    channel_volume_right:
      name: Gain Right Channel

    new names for left and right eq gains
    left_eq_gain_20Hz:
      name: Left ---20Hz
    left_eq_gain_31.5Hz:
      name: Left ---31.5Hz
    left_eq_gain_50Hz:
      name: Left ---50Hz
    left_eq_gain_80Hz:
      name: Left ---80Hz
    left_eq_gain_125Hz:
      name: Left --125Hz
    left_eq_gain_200Hz:
      name: Left --200Hz
    left_eq_gain_315Hz:
      name: Left --315Hz
    left_eq_gain_500Hz:
      name: Left --500Hz
    left_eq_gain_800Hz:
      name: Left --800Hz
    left_eq_gain_1250Hz:
      name: Left -1250Hz
    left_eq_gain_2000Hz:
      name: Left -2000Hz
    left_eq_gain_3150Hz:
      name: Left -3150Hz
    left_eq_gain_5000Hz:
      name: Left -5000Hz
    left_eq_gain_8000Hz:
      name: Left -8000Hz
    left_eq_gain_16000Hz:
      name: Left 16000Hz
    right_eq_gain_20Hz:
      name: Right ---20Hz
    right_eq_gain_31.5Hz:
      name: Right ---31.5Hz
    right_eq_gain_50Hz:
      name: Right ---50Hz
    right_eq_gain_80Hz:
      name: Right ---80Hz
    right_eq_gain_125Hz:
      name: Right --125Hz
    right_eq_gain_200Hz:
      name: Right --200Hz
    right_eq_gain_315Hz:
      name: Right --315Hz
    right_eq_gain_500Hz:
      name: Right --500Hz
    right_eq_gain_800Hz:
      name: Right --800Hz
    right_eq_gain_1250Hz:
      name: Right -1250Hz
    right_eq_gain_2000Hz:
      name: Right -2000Hz
    right_eq_gain_3150Hz:
      name: Right -3150Hz
    right_eq_gain_5000Hz:
      name: Right -5000Hz
    right_eq_gain_8000Hz:
      name: Right -8000Hz
    right_eq_gain_16000Hz:
      name: Right 16000Hz

### Faults clear registers read from TAS58XX
sensor:
  - platform: tas58xx
    faults_cleared:
      name: "Times Faults Cleared"

### Faults registers read directly from TAS58XX
binary_sensor:
  - platform: tas58xx
    have_fault:
      name: Any Faults
      exclude: CLOCK_FAULT
    left_channel_dc_fault:
      name: Left Channel DC Fault
    right_channel_dc_fault:
      name: Right Channel DC Fault
    left_channel_over_current:
      name: Left Channel Over Current
    right_channel_over_current:
      name: Right Channel Over Current
    otp_crc_check:
      name: CRC Check Fault
    bq_write_failed:
      name: BQ Write Failure
    # I2S clock fault binary sensor is not really useful with speaker media player
    # since it generates clock faults when it manipulates I2S.
    # clock fault:
    #   name: I2S Clock Fault
    pcdd_over_voltage:
      name: PCDD Over Voltage
    pcdd_under_voltage:
      name: PCDD Under Voltage
    over_temp_shutdown:
      name: Over Temperature Shutdown Fault
    over_temp_warning:
      name: Over Temperature Warning
      id: over_temperature_warning
